/* GLOBAL */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.l-box {
  padding: 1em;
}

a {
  text-decoration: none;
  /* color: rgb(61, 146, 201); */
  color: #808080;
}

a:hover,
a:focus {
  text-decoration: underline;
}

#layout {
  padding: 0;
}

@import url("https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Sans+HK:300,400,600,900&display=swap");

html,
button,
input,
select,
textarea,
.pure-g [class*="pure-u"] {
  /* Set your content font stack here: */
  font-family: "Noto Sans HK", "Noto Sans", sans-serif;
}

/* SECTIONS */

/* Header */
header {
  text-align: center;
  top: auto;
  margin: 3em auto 1em;
}

.brand-title,
.brand-tagline {
  margin: 0;
}

.brand-title a,
.brand-title a:hover,
.brand-title a:focus {
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}

.brand-tagline {
  font-weight: 300;
  color: #C0C0C0;
}

h4 {
  font-size: 24px;
  font-weight: 300;
}

/* Body */
main {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.text-container {
  padding: 0 2em 0;
}

nav {
  padding: 2em 0;
}

footer {
  margin-bottom: 2em;
}

figure {
  margin-left: 0em;
  margin-right: 0em;
}

/* Specifics */
mark {
  display: inline-block;
  position: relative;
  z-index: 0;
  color: #fff;
  background-color: #092532;
  padding: 3px 7px;
  border-radius: 3px;
}

.photo-entry {
  margin-bottom: 4em;
}

.photo-entry img {
  margin-bottom: 1em;
  /* Codepen hack */
  width: auto;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

ul.exif {
  padding-left: 0;
}

ul.exif li {
  display: inline-block;
  position: relative;
  z-index: 0;
  color: #fff;
  background-color: #092532;
  padding: 3px 7px;
  border-radius: 3px;
  margin-bottom: 0.5em;
}

.pure-menu-horizontal {
  white-space: normal;
}

/*  Image loading preference */
.no-js img.lazy {
  display: none;
}

/* Border chagnes */
@media screen and (min-width: 48em) {
  main {
    padding: 2em 4em 0;
  }

  .text-container {
    padding-left: 0;
    padding-right: 0;
  }

  .photo-entry img {
    width: auto;
    left: 0%;
    right: 0%;
    margin: 0 0 1em;
  }

  nav {
    padding: 2em 4em 0;
  }
}

/* Dark Mode Fixes */
@media (prefers-color-scheme: dark) {
  body {
    background: #1F1B24;
    color: #fff;
  }

  .brand-title a,
  .brand-title a:hover,
  .brand-title a:focus {
    color: #fff;
  }

  mark, ul.exif li {
    background-color: #3282b8;
  }
  
}
