---
layout: layouts/base.njk
title: Ezra Takes Photos
pagination:
 data: collections.posts
 size: 4
 alias: photoList
---

{% include 'partials/header.njk' %}
<main class="pure-u-1">
    <!-- A wrapper for all the blog posts -->
    <div class="text-container"><h4>Ezra has taken <mark>{{ collections.posts.length }}</mark> photos.</h4></div>
    <section class="pure-g photo-entries">
        {% for photo in photoList %}
            {# Try and detect if the photo is portrait, useful for styling #}
            {% set isPortrait = false %}
            {% if photo.pixel_x_dimension and photo.pixel_y_dimension %}
                {% if photo.pixel_x_dimension < photo.pixel_y_dimension %}
                    {% set isPortrait = true %}
                {% endif %}
            {% endif %}
            <article class="photo-entry pure-u-1 pure-u-lg-7-8">
                <figure>
                    <a href="{{ photo.url }}">
                    <noscript>
                        <img class="pure-img" alt="{{ photo.title or 'Photo' }}" src="{{ '/photos/w960/' | url }}{{ photo.data.image_path }}">
                    </noscript>
                    <img class="lazy pure-img" src="{{ '/photos/blur/' | url }}{{ photo.data.image_path }}" alt="{{ photo.data.title or 'Photo' }}" data-src="{{ '/photos/w960/' | url }}{{ photo.data.image_path }}">
                    </a>
                    <figcaption class="text-container">
                        Ezra took this photo on <a href="{{ photo.url }}"><time>{{ photo.date | readableDate }}</time></a>.
                    </figcaption>
                </figure>
            </article>
        {% endfor %}
    </section>
</main>

{% include 'partials/nav.njk' %}
{% include 'partials/footer.njk' %}
